{% extends 'base.html' %}

{% block title %}Forum - {{ forum.nama }}{% endblock %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'forum/css/main_forum.css' %}">
{% endblock %}


{% block content %}
    <div class="action-buttons">
        <a href="/scoreboard/" class="btn btn-secondary">Back to Scoreboard</a>
        <div class="feature-buttons">
            <a href="{% url 'forum:forum_detail' match.id %}" class="btn btn-feature">Forum</a>
            <a href="{% url 'highlights:match_highlights' match.id %}" class="btn btn-feature">Highlight</a>
            <a href="/prediction/" class="btn btn-feature">Prediction</a>
            <a href="{% url 'lineup:lineup-detail' match_id=match.id %}" class="btn btn-feature">Lineup</a>
        </div>
    </div>

    <div class="forum-container">
        <h1>{{ forum.nama }}</h1>

        <div class="forum-content">
            <div id="postsContainer" class="posts-container">
                <!-- Posts loaded here -->
            </div>
            <form id="postForm" method="post" action="">
                {% csrf_token %}
                <textarea id="postContent" name="message" placeholder="Write your post..." rows="3"></textarea><br>
                <button type="submit" id="submitPost" class="btn btn-primary">Kirim Post</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        const defaultProfilePic = "{% static 'forum/image/default_pp.jpg' %}";
        const forumId = "{{ forum.id }}";
        const currentUserId = "{{ user.id }}";
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'forum/js/main_forum.js' %}"></script>
{% endblock %}